body {
  font-family: "Roboto", sans-serif;
}

.background-grey {
  padding-left: 15px;
  background-color: #c4c4c4;
  width: 619px;
  height: fit-content;

  margin-bottom: 15px;
}
/* h {
  position: absolute;
  top: 15px;
  left: 16px;
  height: 27px;
  font-size: 30px;
}
p {
  position: absolute;
  top: 67px;
  left: 16px;
  font-size: 18px;
  width: 587px;
  height: 204px;
} */

.title {
  padding-top: 15px;
  height: 27px;
  font-size: 30px;
  padding-bottom: 30px;
}
.paragraph {
  top: 67px;
  left: 16px;
  font-size: 18px;
  width: 587px;

  padding-bottom: 20px;
}
